Repository pingcap/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zhangyangyu, @pingcap/bigdata-maintainers, @pingcap/diagnostic-maintainers, @pingcap/docs-maintainers, @pingcap/kubernetes-maintainers, @pingcap/migration-maintainers, @pingcap/tidb-maintainers, @pingcap/tiflash-maintainers, @pingcap/tiup-maintainers, @pingcap/tiunimanager-maintainers

.github/CODEOWNERS:

/teams/ @zhangyangyu
/toc/ @zhangyangyu
/votes/ @zhangyangyu
/teams/bigdata/ @pingcap/bigdata-maintainers
/teams/diagnostic/ @pingcap/diagnostic-maintainers
/teams/docs/ @pingcap/docs-maintainers
/teams/kubernetes/ @pingcap/kubernetes-maintainers
/teams/migration/ @pingcap/migration-maintainers
/teams/tidb/ @pingcap/tidb-maintainers
/teams/tiflash/ @pingcap/tiflash-maintainers
/teams/tiup/ @pingcap/tiup-maintainers
/teams/tiunimanager/ @pingcap/tiunimanager-maintainers

Update README.md
  learning-resources/README.md
Owners: none

Add updated logo and screenshot
  media/community_logo_24new.jpeg
  media/doc_screenshot.png
Owners: none

test
  README.md
  media/community-logo-new.png
  media/update-doc.png
Owners: none

update
  README.md
Owners: none

Update README.md
  learning-resources/README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md (#792)
  README.md
  media/community-logo-new.png
  media/update-doc.png
Owners: none

Update README.md
  contributors/README.md
Owners: none

Update README.md to add the Discord link (#795)
  contributors/README.md
Owners: none

Add emeritus approvers to docs
  teams/docs/docs-team-management.md
  teams/docs/membership.json
Owners: @pingcap/docs-maintainers

Apply suggestions from code review
  teams/docs/docs-team-management.md
Owners: @pingcap/docs-maintainers

Add emeritus approvers to docs (#796)
  teams/docs/docs-team-management.md
  teams/docs/membership.json
Owners: @pingcap/docs-maintainers

teams/docs: remove a comma to fix JSON syntax
  teams/docs/membership.json
Owners: @pingcap/docs-maintainers

teams/docs: remove a comma to fix JSON syntax (#797)
  teams/docs/membership.json
Owners: @pingcap/docs-maintainers

A Vote for wlwilliamx as Migration Committer
  teams/migration/membership.json
  votes/0792-wlwilliamx-as-migration-committer.md
Owners: @pingcap/migration-maintainers, @zhangyangyu

teams/kubernetes: A Vote for fgksgf as the approvers
  teams/kubernetes/OWNERS
Owners: @pingcap/kubernetes-maintainers

update
  teams/kubernetes/OWNERS
  teams/kubernetes/membership.json
Owners: @pingcap/kubernetes-maintainers

Update learning-resources/README.md
  learning-resources/README.md
Owners: none

Add learning resource (#793)
  learning-resources/README.md
Owners: none

teams/ticdc: add teams/ticdc folder for managing TiCDC community
  teams/ticdc/OWNERS
  teams/ticdc/README.md
  teams/ticdc/membership.json
Owners: @zhangyangyu

teams/ticdc: add teams/ticdc folder for managing TiCDC community (#800)
  teams/ticdc/OWNERS
  teams/ticdc/README.md
  teams/ticdc/membership.json
Owners: @zhangyangyu

A Vote for wlwilliamx as Migration Committer (#798)
  teams/migration/membership.json
  votes/0792-wlwilliamx-as-migration-committer.md
Owners: @pingcap/migration-maintainers, @zhangyangyu

team/tidb: promote Tristan1900 and RidRisR as tidb reviewers
  teams/tidb/membership.json
  votes/0793-Tristan1900-and-RidRisR-as-tidb-reviewers.md 
Owners: @pingcap/tidb-maintainers, @zhangyangyu

address comments
  teams/tidb/membership.json
  votes/0801-Tristan1900-and-RidRisR-as-tidb-reviewers.md 
Owners: @pingcap/tidb-maintainers, @zhangyangyu

team/tidb: promote Tristan1900 and RidRisR as tidb reviewers (#801)
  teams/tidb/membership.json
  votes/0801-Tristan1900-and-RidRisR-as-tidb-reviewers.md 
Owners: @pingcap/tidb-maintainers, @zhangyangyu

teams/kubernetes: A Vote for fgksgf as the committer (#799)
  teams/kubernetes/membership.json
Owners: @pingcap/kubernetes-maintainers

add "fgksgf" as a reviewer of tidb operator v2
  teams/kubernetes/membership.json
Owners: @pingcap/kubernetes-maintainers

Nominate gengliqi as tidb reviewer
  teams/tidb/membership.json
  votes/0802-gengliqi-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

Rename file
  votes/0803-gengliqi-as-tidb-reviewer.md
Owners: @zhangyangyu

Update votes/0803-gengliqi-as-tidb-reviewer.md
  votes/0803-gengliqi-as-tidb-reviewer.md
Owners: @zhangyangyu

Nominate gengliqi as tidb reviewer (#803)
  teams/tidb/membership.json
  votes/0803-gengliqi-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

votes: add Jmpotato, okJiang, nolouch and rleungx as TiDB committer
  teams/tidb/membership.json
  votes/0804-JmPotato-okJiang-nolouch-rleungx-as-tidb-committer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

votes: tiny update
  votes/0805-JmPotato-okJiang-nolouch-rleungx-as-tidb-committer.md
Owners: @zhangyangyu

votes: fix typo
  votes/0805-JmPotato-okJiang-nolouch-rleungx-as-tidb-committer.md
Owners: @zhangyangyu

votes: add Jmpotato, okJiang, nolouch and rleungx as TiDB committer (#805)
  teams/tidb/membership.json
  votes/0805-JmPotato-okJiang-nolouch-rleungx-as-tidb-committer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

joechenrh-as-tidb-reviewer
  teams/tidb/membership.json
  votes/0806-joechenrh-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

joechenrh-as-tidb-reviewer (#806)
  teams/tidb/membership.json
  votes/0806-joechenrh-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

Update communicating.md
  communicating.md
Owners: none
