Repository pingcap/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zhangyangyu, @pingcap/bigdata-maintainers, @pingcap/diagnostic-maintainers, @pingcap/docs-maintainers, @pingcap/kubernetes-maintainers, @pingcap/migration-maintainers, @pingcap/tidb-maintainers, @pingcap/tiflash-maintainers, @pingcap/tiup-maintainers, @pingcap/tiunimanager-maintainers

chore: migrate to new prow reviewing (#753)
  OWNERS
  teams/OWNERS
  teams/bigdata/OWNERS
  teams/diagnostic/OWNERS
  teams/docs/OWNERS
  teams/kubernetes/OWNERS
  teams/migration/OWNERS
  teams/tidb/OWNERS
  teams/tiflash/OWNERS
  teams/tiunimanager/OWNERS
  teams/tiup/OWNERS
  toc/OWNERS
  votes/OWNERS
Owners: @zhangyangyu, @pingcap/bigdata-maintainers, @pingcap/diagnostic-maintainers, @pingcap/docs-maintainers, @pingcap/kubernetes-maintainers, @pingcap/migration-maintainers, @pingcap/tidb-maintainers, @pingcap/tiflash-maintainers, @pingcap/tiunimanager-maintainers, @pingcap/tiup-maintainers

teams/tidb: a vote for yangkeao as TiDB commiter
  teams/tidb/membership.json
  votes/0756-yangkeao-as-tidb-committer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

Update membership.json
  teams/migration/membership.json
Owners: @pingcap/migration-maintainers

Create 0757-hi-rustin-as-tiflow-maintainer.md
  votes/0757-hi-rustin-as-tiflow-maintainer.md
Owners: @zhangyangyu

Update 0757-hi-rustin-as-tiflow-maintainer.md
  votes/0757-hi-rustin-as-tiflow-maintainer.md
Owners: @zhangyangyu

teams/docs: remove outdated info
  teams/docs/docs-team-management.md
Owners: @pingcap/docs-maintainers

teams/docs: remove outdated info (#758)
  teams/docs/docs-team-management.md
Owners: @pingcap/docs-maintainers

Vote for Douxianming as a reviewer.
  teams/tidb/membership.json
  votes/xxxx-dhysum-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

rename vote doc
  votes/0759-dhysum-as-tidb-reviewer.md
Owners: @zhangyangyu

edit doc.
  votes/0759-dhysum-as-tidb-reviewer.md
Owners: @zhangyangyu

Update votes/0759-dhysum-as-tidb-reviewer.md
  votes/0759-dhysum-as-tidb-reviewer.md
Owners: @zhangyangyu

Update votes/0759-dhysum-as-tidb-reviewer.md
  votes/0759-dhysum-as-tidb-reviewer.md
Owners: @zhangyangyu

Update votes/0759-dhysum-as-tidb-reviewer.md
  votes/0759-dhysum-as-tidb-reviewer.md
Owners: @zhangyangyu

Edit.
  teams/tidb/membership.json
  votes/0759-dhysum-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

Update 0757-hi-rustin-as-tiflow-maintainer.md
  votes/0757-hi-rustin-as-tiflow-maintainer.md
Owners: @zhangyangyu

teams/migration: A Vote for `hi-rustin` as TiFlow maintainer (#757)
  teams/migration/membership.json
  votes/0757-hi-rustin-as-tiflow-maintainer.md
Owners: @pingcap/migration-maintainers, @zhangyangyu

teams/tidb: a vote for yangkeao as TiDB commiter (#756)
  teams/tidb/membership.json
  votes/0756-yangkeao-as-tidb-committer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

Add result.
  votes/0759-dhysum-as-tidb-reviewer.md
Owners: @zhangyangyu

Update votes/0759-dhysum-as-tidb-reviewer.md
  votes/0759-dhysum-as-tidb-reviewer.md
Owners: @zhangyangyu

Update votes/0759-dhysum-as-tidb-reviewer.md
  votes/0759-dhysum-as-tidb-reviewer.md
Owners: @zhangyangyu

Vote for dhysum as a reviewer. (#759)
  teams/tidb/membership.json
  votes/0759-dhysum-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

chore(teams/docs): delete archived repos
  teams/docs/membership.json
  teams/tidb/membership.json
Owners: @pingcap/docs-maintainers, @pingcap/tidb-maintainers

revert(teams/docs): delete archived repos
  teams/docs/membership.json
Owners: @pingcap/docs-maintainers

chore(teams/docs): delete archived repos (#760)
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

docs(contributors): update command-help.md (#736)
  contributors/command-help.md
Owners: none

Create 0761-D3Hunter-as-tidb-committer.md
  votes/votes/0761-D3Hunter-as-tidb-committer.md
Owners: @zhangyangyu

Update 0761-D3Hunter-as-tidb-committer.md
  votes/votes/0761-D3Hunter-as-tidb-committer.md
Owners: @zhangyangyu

Update membership.json
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

team/tidb: a vote for elsa0520 as TiDB reviewer
  votes/elsa0520-as-tidb-reviewer.md
Owners: @zhangyangyu

modify the membership.json
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

add pr number
  votes/0762-elsa0520-as-tidb-reviewer.md
Owners: @zhangyangyu

vote ywq
  teams/tidb/membership.json
  votes/07-ywqzzy-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

Change file name follow pr number
  votes/0763-ywqzzy-as-tidb-reviewer.md
Owners: @zhangyangyu

team/tidb: a vote for elsa0520 as TiDB reviewer (#762)
  teams/tidb/membership.json
  votes/0762-elsa0520-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

Update 0761-D3Hunter-as-tidb-committer.md
  votes/votes/0761-D3Hunter-as-tidb-committer.md
Owners: @zhangyangyu

teams/tidb: a vote for D3Hunter as TiDB commiter (#761)
  teams/tidb/membership.json
  votes/votes/0761-D3Hunter-as-tidb-committer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

fix wrong group in #761
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

fix wrong group in #761 (#764)
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

Update votes/0763-ywqzzy-as-tidb-reviewer.md
  votes/0763-ywqzzy-as-tidb-reviewer.md
Owners: @zhangyangyu

vote ywqzzy as TiDB reviewer (#763)
  teams/tidb/membership.json
  votes/0763-ywqzzy-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

.github/CODEOWNERS:

/teams/ @zhangyangyu
/toc/ @zhangyangyu
/votes/ @zhangyangyu
/teams/bigdata/ @pingcap/bigdata-maintainers
/teams/diagnostic/ @pingcap/diagnostic-maintainers
/teams/docs/ @pingcap/docs-maintainers
/teams/kubernetes/ @pingcap/kubernetes-maintainers
/teams/migration/ @pingcap/migration-maintainers
/teams/tidb/ @pingcap/tidb-maintainers
/teams/tiflash/ @pingcap/tiflash-maintainers
/teams/tiup/ @pingcap/tiup-maintainers
/teams/tiunimanager/ @pingcap/tiunimanager-maintainers
