Repository pingcap/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zhangyangyu, @pingcap/bigdata-maintainers, @pingcap/diagnostic-maintainers, @pingcap/docs-maintainers, @pingcap/kubernetes-maintainers, @pingcap/migration-maintainers, @pingcap/tidb-maintainers, @pingcap/tiflash-maintainers, @pingcap/tiup-maintainers, @pingcap/tiunimanager-maintainers

.github/CODEOWNERS:

/teams/ @zhangyangyu
/toc/ @zhangyangyu
/votes/ @zhangyangyu
/teams/bigdata/ @pingcap/bigdata-maintainers
/teams/diagnostic/ @pingcap/diagnostic-maintainers
/teams/docs/ @pingcap/docs-maintainers
/teams/kubernetes/ @pingcap/kubernetes-maintainers
/teams/migration/ @pingcap/migration-maintainers
/teams/tidb/ @pingcap/tidb-maintainers
/teams/tiflash/ @pingcap/tiflash-maintainers
/teams/tiup/ @pingcap/tiup-maintainers
/teams/tiunimanager/ @pingcap/tiunimanager-maintainers

Update pull request link
  votes/0820-mjonss-as-toc-member.md
  votes/0820-terry1purcell-as-toc-member.md
Owners: @zhangyangyu

community: nominate 3AceShowHand as TiDB reviewer
  votes/0820-3AceShowHand-as-tidb-reviewer.md
Owners: @zhangyangyu

community: add vote PR link
  votes/0820-3AceShowHand-as-tidb-reviewer.md
Owners: @zhangyangyu

community: nominate 3AceShowHand as TiDB reviewer (#822)
  votes/0820-3AceShowHand-as-tidb-reviewer.md
Owners: @zhangyangyu

team/tidb: nominate gengliqi as TiDB committer
  teams/tidb/membership.json
  votes/0000-gengliqi-as-tidb-committer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

votes: rename gengliqi nomination to pr number
  votes/0823-gengliqi-as-tidb-committer.md
Owners: @zhangyangyu

community: nominate solotzg as TiDB reviewer
  votes/0000-solotzg-as-tidb-reviewer.md
Owners: @zhangyangyu

votes: rename solotzg nomination to pr number
  votes/0824-solotzg-as-tidb-reviewer.md
Owners: @zhangyangyu

team/tidb: add solotzg to reviewers
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

team/tidb: A Vote for nomination of gengliqi as the TiDB committer. (#823)
  teams/tidb/membership.json
  votes/0823-gengliqi-as-tidb-committer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

community: nominate solotzg as TiDB reviewer (#824)
  teams/tidb/membership.json
  votes/0824-solotzg-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

nominate: terry1purcell and mjonss as TOC members (#820)
  teams/tidb/README.md
  toc/README.md
  votes/0820-mjonss-as-toc-member.md
  votes/0820-terry1purcell-as-toc-member.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

community: nominate expxiaoli as TiDB reviewer
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

community: add vote doc for expxiaoli as TiDB reviewer
  votes/0825-expxiaoli-as-tidb-reviewer.md
Owners: @zhangyangyu

community: drop stale vote doc leftover from fork master
  votes/0548-sylzd-as-tidb-reviewer.md
Owners: @zhangyangyu

Update vote result
  votes/0825-expxiaoli-as-tidb-reviewer.md
Owners: @zhangyangyu

team/migration: nominate joechenrh as reviewer
  teams/migration/membership.json
  votes/0827-joechenrh-as-migration-reviewer.md
Owners: @pingcap/migration-maintainers, @zhangyangyu

team/migration: nominate joechenrh as reviewer (#827)
  teams/migration/membership.json
  votes/0827-joechenrh-as-migration-reviewer.md
Owners: @pingcap/migration-maintainers, @zhangyangyu

teams/docs: update the discussion link to Discord
  teams/docs/docs-team-management.md
Owners: @pingcap/docs-maintainers
