Repository pingcap/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zhangyangyu, @pingcap/bigdata-maintainers, @pingcap/diagnostic-maintainers, @pingcap/docs-maintainers, @pingcap/kubernetes-maintainers, @pingcap/migration-maintainers, @pingcap/tidb-maintainers, @pingcap/tiflash-maintainers, @pingcap/tiup-maintainers, @pingcap/tiunimanager-maintainers

.github/CODEOWNERS:

/teams/ @zhangyangyu
/toc/ @zhangyangyu
/votes/ @zhangyangyu
/teams/bigdata/ @pingcap/bigdata-maintainers
/teams/diagnostic/ @pingcap/diagnostic-maintainers
/teams/docs/ @pingcap/docs-maintainers
/teams/kubernetes/ @pingcap/kubernetes-maintainers
/teams/migration/ @pingcap/migration-maintainers
/teams/tidb/ @pingcap/tidb-maintainers
/teams/tiflash/ @pingcap/tiflash-maintainers
/teams/tiup/ @pingcap/tiup-maintainers
/teams/tiunimanager/ @pingcap/tiunimanager-maintainers

Update communicating.md (#807)
  communicating.md
Owners: none

Update my GitHub ID
  archive/governance/special-interest-groups/sig-community-infra/membership.json
  archive/governance/special-interest-groups/sig-exec/membership.json
  archive/governance/special-interest-groups/sig-migrate/membership.json
  teams/migration/membership.json
  teams/tidb/membership.json
  votes/0610-0xPoe-as-migration-commiter.md
  votes/0610-Rustin170506-as-migration-commiter.md
  votes/0623-maxshuang-as-migration-reviewer.md
  votes/0650-CharlesCheung96-as-migration-reviewer.md
  votes/0674-nongfushanquan-as-migration-reviewer.md
  votes/0757-0xPoe-as-tiflow-maintainer.md
Owners: @pingcap/migration-maintainers, @pingcap/tidb-maintainers, @zhangyangyu

Update Rustin GitHub ID (#808)
  archive/governance/special-interest-groups/sig-community-infra/membership.json
  archive/governance/special-interest-groups/sig-exec/membership.json
  archive/governance/special-interest-groups/sig-migrate/membership.json
  teams/migration/membership.json
  teams/tidb/membership.json
  votes/0610-0xPoe-as-migration-commiter.md
  votes/0610-Rustin170506-as-migration-commiter.md
  votes/0623-maxshuang-as-migration-reviewer.md
  votes/0650-CharlesCheung96-as-migration-reviewer.md
  votes/0674-nongfushanquan-as-migration-reviewer.md
  votes/0757-0xPoe-as-tiflow-maintainer.md
Owners: @pingcap/migration-maintainers, @pingcap/tidb-maintainers, @zhangyangyu

team/tidb: Nominate terry1purcell as TiDB committer
  teams/tidb/membership.json
  votes/0807-terry1purcell-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

Update reference link in terry1purcell's nomination as TiDB reviewer
  votes/0807-terry1purcell-as-tidb-reviewer.md
Owners: @zhangyangyu

Fix the file number
  votes/0809-terry1purcell-as-tidb-reviewer.md
Owners: @zhangyangyu

team/tidb: Nominate terry1purcell as TiDB committer (#809)
  teams/tidb/membership.json
  votes/0809-terry1purcell-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

.
  votes/0811-King-Dylan-as-tidb-reviewer.md
Owners: @zhangyangyu

./
  teams/tidb/membership.json
  votes/0810-King-Dylan-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

.
  teams/tidb/membership.json
  votes/0810-King-Dylan-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

team/tidb: A Vote for nomination of King-Dylan as the TiDB reviewer. (#810)
  teams/tidb/membership.json
  votes/0810-King-Dylan-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

done
  teams/tidb/membership.json
  votes/0811-joechenrh-as-tidb-committer.md 
Owners: @pingcap/tidb-maintainers, @zhangyangyu

team/tidb: A Vote for nomination of joechenrh as the TiDB committer (#811)
  teams/tidb/membership.json
  votes/0811-joechenrh-as-tidb-committer.md 
Owners: @pingcap/tidb-maintainers, @zhangyangyu

chore(ticdc-team): Add tenfyzhong to TiCDC team members
  teams/ticdc/membership.json
Owners: @zhangyangyu

Update TiDB team membership and reviewer lists
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

team/ticdc: A vote for nomination of tenfyzhong as the TiCDC committer (#812)
  teams/ticdc/membership.json
Owners: @zhangyangyu

A vote for Olvier to be Migration committer.
  teams/migration/membership.json
  votes/08xx-OliverS929-as-migration-committer.md
Owners: @pingcap/migration-maintainers, @zhangyangyu

re edit infor
  votes/0814-OliverS929-as-migration-committer.md
Owners: @zhangyangyu

put correct postion.
  teams/migration/membership.json
Owners: @pingcap/migration-maintainers

team/tidb: A Vote for nomination of wddevries as the TiDB reviewer
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

Updated votes
  votes/0815-wddevries-as-tidb-reviewer.md
Owners: @zhangyangyu

Added number of prs/reviews/issues + corrected issues link
  votes/0815-wddevries-as-tidb-reviewer.md
Owners: @zhangyangyu

Apply suggestion from @kennytm
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

Added missing sections
  votes/0815-wddevries-as-tidb-reviewer.md
Owners: @zhangyangyu

team/tidb: A Vote for nomination of henrybw as TIDB Reviewer
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

Added votes files
  votes/0816-henrybw-as-tidb-reviewer.md
Owners: @zhangyangyu

team/tidb: A Vote for nomination of King-Dylan as the TiDB committer.
  teams/tidb/membership.json
  votes/0817-King-Dylan-as-tidb-commiter.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

team/tidb: A Vote for nomination of henrybw as TIDB Reviewer (#816)
  teams/tidb/membership.json
  votes/0816-henrybw-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

team/migration: A vote for OliverS929 to be Migration committer (#814)
  teams/migration/membership.json
  votes/0814-OliverS929-as-migration-committer.md
Owners: @pingcap/migration-maintainers, @zhangyangyu

Update votes/0817-King-Dylan-as-tidb-commiter.md
  votes/0817-King-Dylan-as-tidb-commiter.md
Owners: @zhangyangyu

team/tidb: A Vote for nomination of wddevries as the TiDB reviewer (#815)
  teams/tidb/membership.json
  votes/0815-wddevries-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

Fix typo in the filename
  votes/0817-King-Dylan-as-tidb-committer.md
Owners: @zhangyangyu

team/tidb: A Vote for nomination of King-Dylan as the TiDB committer. (#817)
  teams/tidb/membership.json
  votes/0817-King-Dylan-as-tidb-committer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

teams/kubernetes: add "fgksgf" as a reviewer of tidb operator v2 (#802)
  teams/kubernetes/membership.json
Owners: @pingcap/kubernetes-maintainers

team/tidb: A vote for nomination of RisRidR as the TiDB committer.
  teams/tidb/membership.json
  votes/0818-RidRisR-as-tidb-committer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

fix pr number
  votes/0818-RidRisR-as-tidb-committer.md
Owners: @zhangyangyu

team/tidb: A vote for nomination of RisRidR as the TiDB committer. (#818)
  teams/tidb/membership.json
  votes/0818-RidRisR-as-tidb-committer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

init vote
  teams/tiflash/membership.json
  votes/0819-yongman-as-tiflash-committer.md
Owners: @pingcap/tiflash-maintainers, @zhangyangyu

Vote: Nominate yongman as TiFlash Committer (#819)
  teams/tiflash/membership.json
  votes/0819-yongman-as-tiflash-committer.md
Owners: @pingcap/tiflash-maintainers, @zhangyangyu

Nominate TOC members
  teams/tidb/README.md
  toc/README.md
  votes/0820-terry1purcell-as-toc-member.md
  votes/0821-mjonss-as-toc-member.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu
