Repository pingcap/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zhangyangyu, @pingcap/bigdata-maintainers, @pingcap/diagnostic-maintainers, @pingcap/docs-maintainers, @pingcap/kubernetes-maintainers, @pingcap/migration-maintainers, @pingcap/tidb-maintainers, @pingcap/tiflash-maintainers, @pingcap/tiup-maintainers, @pingcap/tiunimanager-maintainers

Update membership.json
  teams/diagnostic/membership.json
Owners: @pingcap/diagnostic-maintainers

Update membership.json for tidb-dashboard repo (#765)
  teams/diagnostic/membership.json
Owners: @pingcap/diagnostic-maintainers

Revert "Update membership.json for tidb-dashboard repo (#765)"
  teams/diagnostic/membership.json
Owners: @pingcap/diagnostic-maintainers

Revert "Update membership.json for tidb-dashboard repo (#765)" (#766)
  teams/diagnostic/membership.json
Owners: @pingcap/diagnostic-maintainers

Update README.md
  README.md
Owners: none

Update README.md (#767)
  README.md
Owners: none

Update README.md
  contributors/README.md
Owners: none

obscure bot name (#768)
  contributors/README.md
Owners: none

fixup
  teams/tidb/membership.json
  votes/0764-CabinfeverB-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

Update votes/0764-CabinfeverB-as-tidb-reviewer.md
  votes/0764-CabinfeverB-as-tidb-reviewer.md
Owners: @zhangyangyu

fixup
  teams/tidb/membership.json
  votes/0770-CabinfeverB-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

Update teams/tidb/membership.json
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

A Vote for CabinfeverB as TiDB Reviewer (#770)
  teams/tidb/membership.json
  votes/0770-CabinfeverB-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

teams/tidb: fix missing change
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

teams/tidb: fix missing change (#771)
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

votes: add jiyfhust as a TiDB reviewer
  teams/tidb/membership.json
  votes/0772-jiyfhust-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

votes: add jiyfhust as a TiDB reviewer (#772)
  teams/tidb/membership.json
  votes/0772-jiyfhust-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

teams/kubernetes: A Vote for some new Kubernetes committers
  teams/kubernetes/membership.json
Owners: @pingcap/kubernetes-maintainers

teams/kubernetes: A Vote for some new Kubernetes committers (#773)
  teams/kubernetes/membership.json
Owners: @pingcap/kubernetes-maintainers

Revert "teams/kubernetes: A Vote for some new Kubernetes committers (#773)"
  teams/kubernetes/membership.json
Owners: @pingcap/kubernetes-maintainers

team/tidb: promote fixdb and elsa0520 as committer
  teams/tidb/membership.json
  votes/0774-fixdb-and-elsa0520-as-tidb-commiter.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

correct
  votes/0774-fixdb-and-elsa0520-as-tidb-commiter.md
Owners: @zhangyangyu

team/tidb: promote fixdb and elsa0520 as committer (#774)
  teams/tidb/membership.json
  votes/0774-fixdb-and-elsa0520-as-tidb-commiter.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

Vote lyzx2001 as TiDB reviewer.
  teams/tidb/membership.json
  votes/0775-lyzx2001-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

edit pr number.
  votes/0775-lyzx2001-as-tidb-reviewer.md
Owners: @zhangyangyu

Vote lyzx2001 as TiDB reviewer. (#775)
  teams/tidb/membership.json
  votes/0775-lyzx2001-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

Update command-help.md
  contributors/command-help.md
Owners: none

Update command-help.md (#776)
  contributors/command-help.md
Owners: none

change
  teams/migration/membership.json
  votes/0695-Benjamin2037-as-migration-committer.md
Owners: @pingcap/migration-maintainers, @zhangyangyu

teams/tidb, votes: a vote for ywqzzy as TiDB commiter
  teams/tidb/membership.json
  votes/0778-ywqzzy-as-tidb-committer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

teams/tidb, votes: a vote for ywqzzy as TiDB commiter (#778)
  teams/tidb/membership.json
  votes/0778-ywqzzy-as-tidb-committer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

teams/migration: a vote for Benjamin2037 as the committer (#777)
  teams/migration/membership.json
  votes/0695-Benjamin2037-as-migration-committer.md
Owners: @pingcap/migration-maintainers, @zhangyangyu

promote xzhangxian1008 as TiDB reviewer
  votes/0778-xzhangxian1008-as-tidb-reviewer.md
Owners: @zhangyangyu

pr id
  votes/0779-xzhangxian1008-as-tidb-reviewer.md
Owners: @zhangyangyu

address comment
  votes/0779-xzhangxian1008-as-tidb-reviewer.md
Owners: @zhangyangyu

address comment
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

promote xzhangxian1008 as TiDB reviewer (#779)
  teams/tidb/membership.json
  votes/0779-xzhangxian1008-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

a vote for Icemap as the committer
  teams/docs/membership.json
  votes/0780-Icemap-as-docs-committer.md
Owners: @pingcap/docs-maintainers, @zhangyangyu

Update votes/0780-Icemap-as-docs-committer.md
  votes/0780-Icemap-as-docs-committer.md
Owners: @zhangyangyu

teams/docs: a vote for Icemap as the committer (#780)
  teams/docs/membership.json
  votes/0780-Icemap-as-docs-committer.md
Owners: @pingcap/docs-maintainers, @zhangyangyu

.github/CODEOWNERS:

/teams/ @zhangyangyu
/toc/ @zhangyangyu
/votes/ @zhangyangyu
/teams/bigdata/ @pingcap/bigdata-maintainers
/teams/diagnostic/ @pingcap/diagnostic-maintainers
/teams/docs/ @pingcap/docs-maintainers
/teams/kubernetes/ @pingcap/kubernetes-maintainers
/teams/migration/ @pingcap/migration-maintainers
/teams/tidb/ @pingcap/tidb-maintainers
/teams/tiflash/ @pingcap/tiflash-maintainers
/teams/tiup/ @pingcap/tiup-maintainers
/teams/tiunimanager/ @pingcap/tiunimanager-maintainers
