Repository pingcap/community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zhangyangyu, @pingcap/bigdata-maintainers, @pingcap/diagnostic-maintainers, @pingcap/docs-maintainers, @pingcap/kubernetes-maintainers, @pingcap/migration-maintainers, @pingcap/tidb-maintainers, @pingcap/tiflash-maintainers, @pingcap/tiup-maintainers, @pingcap/tiunimanager-maintainers

vote hongyunyan as migration team committer
  teams/migration/membership.json
Owners: @pingcap/migration-maintainers

Update teams/migration/membership.json
  teams/migration/membership.json
Owners: @pingcap/migration-maintainers

teams/migration: vote hongyunyan as migration team committer (#781)
  teams/migration/membership.json
Owners: @pingcap/migration-maintainers

a vote for hongyunyan as a committer
  teams/migration/membership.json
Owners: @pingcap/migration-maintainers

a vote for lidezhu as a committer
  votes/0782-lidezhu-as-migration-committer.md
Owners: @zhangyangyu

a vote for lidezhu as a committer (#782)
  teams/migration/membership.json
  votes/0782-lidezhu-as-migration-committer.md
Owners: @pingcap/migration-maintainers, @zhangyangyu

A Vote for zhangjinpeng87 as Migration Committer
  teams/migration/membership.json
  votes/0783-zhangjinpeng87-as-migration-committer.md
Owners: @pingcap/migration-maintainers, @zhangyangyu

sore the list
  teams/migration/membership.json
Owners: @pingcap/migration-maintainers

sort in ASCII order
  teams/migration/membership.json
Owners: @pingcap/migration-maintainers

Vote for BornChanger for tidb committer.
  teams/tidb/membership.json
  votes/0783-BrianZhang-as-tidb-committer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

Edit.
  votes/0784-BrianZhang-as-tidb-committer.md
Owners: @zhangyangyu

remove from reviewer list.
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

ediwtor
  votes/0784-BrianZhang-as-tidb-committer.md
Owners: @zhangyangyu

Update votes/0784-BrianZhang-as-tidb-committer.md
  votes/0784-BrianZhang-as-tidb-committer.md
Owners: @zhangyangyu

Update votes/0783-zhangjinpeng87-as-migration-committer.md
  votes/0783-zhangjinpeng87-as-migration-committer.md
Owners: @zhangyangyu

teams/migration: A Vote for zhangjinpeng87 as Migration Committer (#783)
  teams/migration/membership.json
  votes/0783-zhangjinpeng87-as-migration-committer.md
Owners: @pingcap/migration-maintainers, @zhangyangyu

Vote for BornChanger for TiDB committer. (#784)
  teams/tidb/membership.json
  votes/0784-BrianZhang-as-tidb-committer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

votes: add jiyfhust as a TiDB committer
  teams/tidb/membership.json
  votes/0785-jiyfhust-as-tidb-committer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

votes: add jiyfhust as a TiDB committer (#785)
  teams/tidb/membership.json
  votes/0785-jiyfhust-as-tidb-committer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

promote yibin87 as reviewer
  votes/0786-yibin87-as-tidb-reviewer.md
Owners: @zhangyangyu

Add membership
  teams/tidb/membership.json
Owners: @pingcap/tidb-maintainers

nominate yibin87 as tidb reviewer (#786)
  teams/tidb/membership.json
  votes/0786-yibin87-as-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

Nominate windtalker as TiFlash maintainer
  teams/tiflash/OWNERS
  teams/tiflash/membership.json
  votes/0787-windtalker-as-tiflash-maintainer.md
Owners: @pingcap/tiflash-maintainers, @zhangyangyu

Fix
  votes/0787-windtalker-as-tiflash-maintainer.md
Owners: @zhangyangyu

Nominate JaySon-Huang as TiFlash maintainer
  teams/tiflash/OWNERS
  teams/tiflash/membership.json
  votes/0788-JaySon-Huang-as-tiflash-maintainer.md
Owners: @pingcap/tiflash-maintainers, @zhangyangyu

Fix name
  votes/0788-JaySon-Huang-as-tiflash-maintainer.md
Owners: @zhangyangyu

Fix name
  votes/0788-JaySon-Huang-as-tiflash-maintainer.md
Owners: @zhangyangyu

Fix name
  votes/0788-JaySon-Huang-as-tiflash-maintainer.md
Owners: @zhangyangyu

Vote: Nominate windtalker as TiFlash maintainer (#787)
  teams/tiflash/OWNERS
  teams/tiflash/membership.json
  votes/0787-windtalker-as-tiflash-maintainer.md
Owners: @pingcap/tiflash-maintainers, @zhangyangyu

Vote: Nominate Jayson-Huang as TiFlash maintainer (#788)
  teams/tiflash/OWNERS
  teams/tiflash/membership.json
  votes/0788-JaySon-Huang-as-tiflash-maintainer.md
Owners: @pingcap/tiflash-maintainers, @zhangyangyu

fix: update my username
  archive/governance/special-interest-groups/sig-community-infra/membership.json
  archive/governance/special-interest-groups/sig-exec/membership.json
  archive/governance/special-interest-groups/sig-migrate/membership.json
  teams/migration/membership.json
  teams/tidb/membership.json
  votes/0610-hi-rustin-as-migration-commiter.md
  votes/0623-maxshuang-as-migration-reviewer.md
  votes/0650-CharlesCheung96-as-migration-reviewer.md
  votes/0674-nongfushanquan-as-migration-reviewer.md
  votes/0757-hi-rustin-as-tiflow-maintainer.md
Owners: @pingcap/migration-maintainers, @pingcap/tidb-maintainers, @zhangyangyu

fix: rename the files
  votes/0610-Rustin170506-as-migration-commiter.md
  votes/0757-Rustin170506-as-tiflow-maintainer.md
Owners: @zhangyangyu

fix: update rustin's username (#789)
  archive/governance/special-interest-groups/sig-community-infra/membership.json
  archive/governance/special-interest-groups/sig-exec/membership.json
  archive/governance/special-interest-groups/sig-migrate/membership.json
  teams/migration/membership.json
  teams/tidb/membership.json
  votes/0610-Rustin170506-as-migration-commiter.md
  votes/0610-hi-rustin-as-migration-commiter.md
  votes/0623-maxshuang-as-migration-reviewer.md
  votes/0650-CharlesCheung96-as-migration-reviewer.md
  votes/0674-nongfushanquan-as-migration-reviewer.md
  votes/0757-Rustin170506-as-tiflow-maintainer.md
Owners: @pingcap/migration-maintainers, @pingcap/tidb-maintainers, @zhangyangyu

A Vote for wk989898 as Migration Committer
  teams/migration/membership.json
  votes/0789-wk989898-as-migration-committer.md
Owners: @pingcap/migration-maintainers, @zhangyangyu

Update votes/0789-wk989898-as-migration-committer.md
  votes/0789-wk989898-as-migration-committer.md
Owners: @zhangyangyu

Update votes/0789-wk989898-as-migration-committer.md
  votes/0789-wk989898-as-migration-committer.md
Owners: @zhangyangyu

team/tidb: promote terry1purcell and ghazalfamilyusa as tidb reviewer
  teams/tidb/membership.json
  votes/0791-terry1purcell-and-ghazalfamilyusa-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

teams/migration: A Vote for wk989898 as Migration Committer (#790)
  teams/migration/membership.json
  votes/0789-wk989898-as-migration-committer.md
Owners: @pingcap/migration-maintainers, @zhangyangyu

team/tidb: promote terry1purcell and ghazalfamilyusa as tidb reviewer (#791)
  teams/tidb/membership.json
  votes/0791-terry1purcell-and-ghazalfamilyusa-tidb-reviewer.md
Owners: @pingcap/tidb-maintainers, @zhangyangyu

Update README.md
  README.md
Owners: none

.github/CODEOWNERS:

/teams/ @zhangyangyu
/toc/ @zhangyangyu
/votes/ @zhangyangyu
/teams/bigdata/ @pingcap/bigdata-maintainers
/teams/diagnostic/ @pingcap/diagnostic-maintainers
/teams/docs/ @pingcap/docs-maintainers
/teams/kubernetes/ @pingcap/kubernetes-maintainers
/teams/migration/ @pingcap/migration-maintainers
/teams/tidb/ @pingcap/tidb-maintainers
/teams/tiflash/ @pingcap/tiflash-maintainers
/teams/tiup/ @pingcap/tiup-maintainers
/teams/tiunimanager/ @pingcap/tiunimanager-maintainers
