Repository pingcap/community, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/sql-infra, sig/diagnosis, sig/docs, sig/execution, sig/k8s, sig/migrate, sig/planner, sig/tiup, sig/web, sig/community-infra

Update membership.json
  special-interest-groups/sig-diagnosis/membership.json
Labels: sig/diagnosis

Update membership.json (#399)
  special-interest-groups/sig-diagnosis/membership.json
Labels: sig/diagnosis

README: update links (#396)
  README.md
Labels: none

README: update links (#397)
  special-interest-groups/sig-sql-infra/README.md
Labels: sig/sql-infra

promote morgo to reviewer (#398)
  special-interest-groups/sig-sql-infra/membership.json
Labels: sig/sql-infra

Update Docs SIG membership
  special-interest-groups/sig-docs/membership.json
Labels: sig/docs

Update Docs SIG membership (#400)
  special-interest-groups/sig-docs/membership.json
Labels: sig/docs

update archived working groups
  working-groups/README.md
Labels: none

Update README.md
  working-groups/README.md
Labels: none

github: add membership issue template
  .github/ISSUE_TEMPLATE/membership.md
Labels: none

github: rename
  .github/ISSUE_TEMPLATE/sig-membership.md
Labels: none

github: rename
  .github/ISSUE_TEMPLATE/sig-promotion-process.md
Labels: none

github: refine typo
  .github/ISSUE_TEMPLATE/sig-promotion-process.md
Labels: none

github: refine typo
  .github/ISSUE_TEMPLATE/sig-promotion.md
Labels: none

github: update link
  .github/ISSUE_TEMPLATE/sig-promotion.md
Labels: none

github: add membership issue template (#402)
  .github/ISSUE_TEMPLATE/sig-promotion.md
Labels: none

.github/labeler.yml:

sig/sql-infra:
  - "special-interest-groups/sig-sql-infra/*"

sig/diagnosis:
  - "special-interest-groups/sig-diagnosis/*"

sig/docs:
  - "special-interest-groups/sig-docs/*"

sig/execution:
  - "special-interest-groups/sig-exec/*"

sig/k8s:
  - "special-interest-groups/sig-k8s/*"

sig/migrate:
  - "special-interest-groups/sig-migrate/*"

sig/planner:
  - "special-interest-groups/sig-planner/*"

sig/tiup:
  - "special-interest-groups/sig-tiup/*"

sig/web:
  - "special-interest-groups/sig-web/*"

sig/community-infra:
  - "special-interest-groups/sig-community-infra/*"
