Repository pingcap/community, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/sql-infra, sig/diagnosis, sig/docs, sig/execution, sig/k8s, sig/migrate, sig/planner, sig/tiup, sig/web, sig/community-infra

.github/labeler.yml:

sig/sql-infra:
  - any: [ "special-interest-groups/sig-sql-infra/*","!special-interest-groups/sig-sql-infra/membership.json" ]

sig/diagnosis:
  - any: [ "special-interest-groups/sig-diagnosis/*","!special-interest-groups/sig-diagnosis/membership.json" ]

sig/docs:
  - any: [ "special-interest-groups/sig-docs/*","!special-interest-groups/sig-docs/membership.json" ]

sig/execution:
  - any: [ "special-interest-groups/sig-exec/*","!special-interest-groups/sig-exec/membership.json" ]

sig/k8s:
  - any: [ "special-interest-groups/sig-k8s/*","!special-interest-groups/sig-k8s/membership.json" ]

sig/migrate:
  - any: [ "special-interest-groups/sig-migrate/*","!special-interest-groups/sig-migrate/membership.json" ]

sig/planner:
  - any: [ "special-interest-groups/sig-planner/*","!special-interest-groups/sig-planner/membership.json" ]

sig/tiup:
  - any: [ "special-interest-groups/sig-tiup/*","!special-interest-groups/sig-tiup/membership.json" ]

sig/web:
  - any: [ "special-interest-groups/sig-web/*","!special-interest-groups/sig-web/membership.json" ]

sig/community-infra:
  - any: [ "special-interest-groups/sig-community-infra/*","!special-interest-groups/sig-community-infra/membership.json" ]

nominate rebelice as a committer of sig/planner
  special-interest-groups/sig-planner/membership.json
Labels: none

planner: promote member and update links
  special-interest-groups/sig-planner/README.md
  special-interest-groups/sig-planner/membership.json
Labels: sig/planner

address comments
  special-interest-groups/sig-planner/README.md
Labels: sig/planner

planner: promote member and update links (#439)
  special-interest-groups/sig-planner/README.md
  special-interest-groups/sig-planner/membership.json
Labels: sig/planner

sig/planner: nominate rebelice as a committer of sig/planner (#438)
  special-interest-groups/sig-planner/membership.json
Labels: none

membership: add TszKitLo40 as exec's reviewer
  special-interest-groups/sig-exec/membership.json
Labels: none

membership: add qiancai as docs's reviewer
  special-interest-groups/sig-docs/membership.json
Labels: none

fix: refine broken links
  special-interest-groups/sig-community-infra/README.md
  special-interest-groups/sig-diagnosis/README.md
  special-interest-groups/sig-docs/README.md
  special-interest-groups/sig-exec/README.md
  special-interest-groups/sig-k8s/README.md
  special-interest-groups/sig-migrate/README.md
  special-interest-groups/sig-planner/README.md
  special-interest-groups/sig-sql-infra/README.md
  special-interest-groups/sig-tiup/README.md
  special-interest-groups/sig-web/README.md
Labels: sig/sql-infra, sig/diagnosis, sig/docs, sig/execution, sig/k8s, sig/migrate, sig/planner, sig/tiup, sig/web, sig/community-infra

membership: add TszKitLo40 as exec's reviewer (#441)
  special-interest-groups/sig-exec/membership.json
Labels: none

membership: add qiancai as docs's reviewer (#442)
  special-interest-groups/sig-docs/membership.json
Labels: none

fix: refine broken links (#443)
  special-interest-groups/sig-community-infra/README.md
  special-interest-groups/sig-diagnosis/README.md
  special-interest-groups/sig-docs/README.md
  special-interest-groups/sig-exec/README.md
  special-interest-groups/sig-k8s/README.md
  special-interest-groups/sig-migrate/README.md
  special-interest-groups/sig-planner/README.md
  special-interest-groups/sig-sql-infra/README.md
  special-interest-groups/sig-tiup/README.md
  special-interest-groups/sig-web/README.md
Labels: sig/sql-infra, sig/diagnosis, sig/docs, sig/execution, sig/k8s, sig/migrate, sig/planner, sig/tiup, sig/web, sig/community-infra

Updated the links to Roles and Organization Management for SIGs
  special-interest-groups/sig-bigdata/README.md
  special-interest-groups/sig-community-infra/README.md
  special-interest-groups/sig-diagnosis/README.md
  special-interest-groups/sig-docs/README.md
  special-interest-groups/sig-exec/README.md
  special-interest-groups/sig-k8s/README.md
  special-interest-groups/sig-migrate/README.md
  special-interest-groups/sig-planner/README.md
  special-interest-groups/sig-tiup/README.md
  special-interest-groups/sig-web/README.md
Labels: sig/diagnosis, sig/docs, sig/execution, sig/k8s, sig/migrate, sig/planner, sig/tiup, sig/web, sig/community-infra

Update special-interest-groups/sig-bigdata/README.md
  special-interest-groups/sig-bigdata/README.md
Labels: none

Apply suggestions from code review
  special-interest-groups/sig-community-infra/README.md
  special-interest-groups/sig-diagnosis/README.md
  special-interest-groups/sig-docs/README.md
  special-interest-groups/sig-exec/README.md
  special-interest-groups/sig-k8s/README.md
  special-interest-groups/sig-migrate/README.md
  special-interest-groups/sig-tiup/README.md
  special-interest-groups/sig-web/README.md
Labels: sig/diagnosis, sig/docs, sig/execution, sig/k8s, sig/migrate, sig/tiup, sig/web, sig/community-infra

Update special-interest-groups/sig-planner/README.md
  special-interest-groups/sig-planner/README.md
Labels: sig/planner

Fixed the broken links to Roles and Organization Management for SIGs (#444)
  special-interest-groups/sig-bigdata/README.md
  special-interest-groups/sig-community-infra/README.md
  special-interest-groups/sig-diagnosis/README.md
  special-interest-groups/sig-docs/README.md
  special-interest-groups/sig-exec/README.md
  special-interest-groups/sig-k8s/README.md
  special-interest-groups/sig-migrate/README.md
  special-interest-groups/sig-planner/README.md
  special-interest-groups/sig-tiup/README.md
  special-interest-groups/sig-web/README.md
Labels: sig/diagnosis, sig/docs, sig/execution, sig/k8s, sig/migrate, sig/planner, sig/tiup, sig/web, sig/community-infra

Promote july2993 to committer
  special-interest-groups/sig-k8s/membership.json
Labels: none

sig-migrate: update membership
  special-interest-groups/sig-migrate/membership.json
Labels: none

Promote july2993 to committer (#447)
  special-interest-groups/sig-k8s/membership.json
Labels: none

sig-migrate: update membership
  special-interest-groups/sig-migrate/membership.json
Labels: none

sig-migrate: update membership
  special-interest-groups/sig-migrate/membership.json
Labels: none

membership: add qiancai as docs's committer
  special-interest-groups/sig-docs/membership.json
Labels: none

membership: add qiancai as docs's committer (#451)
  special-interest-groups/sig-docs/membership.json
Labels: none

membership: add shhdgit as diagnosis's committer
  special-interest-groups/sig-diagnosis/membership.json
Labels: none

membership: add shhdgit as diagnosis's committer (#453)
  special-interest-groups/sig-diagnosis/membership.json
Labels: none

membership: Retire me from leadership and Mini256 will be the new leader to lead the community-infra
  special-interest-groups/sig-community-infra/membership.json
Labels: none

membership: Retire me from leadership (#454)
  special-interest-groups/sig-community-infra/membership.json
Labels: none

chore: modify the sig promotion assignees
  .github/ISSUE_TEMPLATE/sig-promotion.md
Labels: none

chore: modify the sig promotion assignees (#455)
  .github/ISSUE_TEMPLATE/sig-promotion.md
Labels: none

fix: refine typo
  contributors/README.md
Labels: none

fix: refine typo (#457)
  contributors/README.md
Labels: none

fix: refine typos
  challenge-programs/challenge-program-season-1.md
  contributors/workflow.md
  incubator/projects-approval-criteria.md
  rfc/2019-12-11-Talent-Plan-Courses.md
  special-interest-groups/sig-template/README.md
  working-groups/wg-dm-syncer.md
Labels: none

fix: refine typos (#458)
  challenge-programs/challenge-program-season-1.md
  contributors/workflow.md
  incubator/projects-approval-criteria.md
  rfc/2019-12-11-Talent-Plan-Courses.md
  special-interest-groups/sig-template/README.md
  working-groups/wg-dm-syncer.md
Labels: none

Update go version in contribution guide
  contributors/README.md
Labels: none

membership: add Howie59 as sql-infra's active contributor
  special-interest-groups/sig-sql-infra/membership.json
Labels: none

membership: add Howie59 as sql-infra's active contributor (#461)
  special-interest-groups/sig-sql-infra/membership.json
Labels: none

Update go version in contribution guide (#459)
  contributors/README.md
Labels: none

membership: add guo-shaoge as sig-exec's reviewer
  special-interest-groups/sig-exec/membership.json
Labels: none

membership: add guo-shaoge as sig-exec's reviewer (#464)
  special-interest-groups/sig-exec/membership.json
Labels: none

nominate zhuo-zhi to our reviewer
  special-interest-groups/sig-planner/membership.json
Labels: none
