Repository pingcap/community, changes with the labels that .github/labeler.yml gives for each.
All labels: sig/sql-infra, sig/diagnosis, sig/docs, sig/execution, sig/k8s, sig/migrate, sig/planner, sig/tiup, sig/web, sig/community-infra

.github/labeler.yml:

sig/sql-infra:
  - "special-interest-groups/sig-sql-infra/*"

sig/diagnosis:
  - "special-interest-groups/sig-diagnosis/*"

sig/docs:
  - "special-interest-groups/sig-docs/*"

sig/execution:
  - "special-interest-groups/sig-exec/*"

sig/k8s:
  - "special-interest-groups/sig-k8s/*"

sig/migrate:
  - "special-interest-groups/sig-migrate/*"

sig/planner:
  - "special-interest-groups/sig-planner/*"

sig/tiup:
  - "special-interest-groups/sig-tiup/*"

sig/web:
  - "special-interest-groups/sig-web/*"

sig/community-infra:
  - "special-interest-groups/sig-community-infra/*"

sig-migrate: add learning materials and link to issues (#371)
  special-interest-groups/sig-migrate/README.md
Labels: sig/migrate

sig-docs: update membership (#376)
  special-interest-groups/sig-docs/membership.json
Labels: sig/docs

add committers for wallace
  special-interest-groups/sig-migrate/membership.json
Labels: sig/migrate

sig-docs: promote 3 active contributors
  special-interest-groups/sig-docs/membership.json
Labels: sig/docs

sig-docs: promote 3 active contributors (#379)
  special-interest-groups/sig-docs/membership.json
Labels: sig/docs

Update sig goverance link
  special-interest-groups/README.md
Labels: none

Update sig goverance link (#380)
  special-interest-groups/README.md
Labels: none

Use TOC instead of PMC
  governance/sig-governance.md
Labels: none

Promote 9547 as a committer of TiUP
  special-interest-groups/sig-tiup/membership.json
Labels: sig/tiup

Update README.md
  incubator/README.md
Labels: none

Update README.md
  incubator/README.md
Labels: none

Promote liuzix to committer (#372)
  special-interest-groups/sig-migrate/membership.json
Labels: sig/migrate

SunRunAway retires from leader of sig-exec (#377)
  special-interest-groups/sig-exec/membership.json
Labels: sig/execution

add committers for wallace (#378)
  special-interest-groups/sig-migrate/membership.json
Labels: sig/migrate

Promote 9547 as a committer of TiUP (#383)
  special-interest-groups/sig-tiup/membership.json
Labels: sig/tiup

promote cvvz to reviewer
  special-interest-groups/sig-k8s/membership.json
Labels: sig/k8s

Update projects-approval-criteria.md
  incubator/projects-approval-criteria.md
Labels: none

Update README.md
  incubator/README.md
Labels: none

Update README.md (#385)
  incubator/README.md
Labels: none

Update README.md (#388)
  incubator/README.md
Labels: none

Update projects-approval-criteria.md (#387)
  incubator/projects-approval-criteria.md
Labels: none

promote cvvz to reviewer (#386)
  special-interest-groups/sig-k8s/membership.json
Labels: sig/k8s

Use TOC instead of PMC (#381)
  governance/sig-governance.md
Labels: none

add sig-bigdata
  special-interest-groups/sig-bigdata/README.md
  special-interest-groups/sig-bigdata/membership.json
  special-interest-groups/sig-bigdata/roles-and-organization-management.md
Labels: none

update
  special-interest-groups/sig-bigdata/README.md
  special-interest-groups/sig-bigdata/membership.json
Labels: none

update
  special-interest-groups/sig-bigdata/README.md
Labels: none

add sig-bigdata (#390)
  special-interest-groups/sig-bigdata/README.md
  special-interest-groups/sig-bigdata/membership.json
  special-interest-groups/sig-bigdata/roles-and-organization-management.md
Labels: none

add sig-bigdata slack link
  special-interest-groups/sig-bigdata/README.md
Labels: none

add sig-bigdata slack link (#391)
  special-interest-groups/sig-bigdata/README.md
Labels: none

fix sig bigdata slack link
  special-interest-groups/sig-bigdata/README.md
Labels: none

Update README.md
  special-interest-groups/README.md
Labels: none

Update README.md (#393)
  special-interest-groups/README.md
Labels: none

fix sig bigdata slack link (#392)
  special-interest-groups/sig-bigdata/README.md
Labels: none

sig bigdata add google calendar
  special-interest-groups/sig-bigdata/README.md
Labels: none

add rfc for TiDE incubating project
  rfc/2021-01-20-TiDE.md
Labels: none

README: update links
  README.md
Labels: none

README: update links
  special-interest-groups/sig-sql-infra/README.md
Labels: sig/sql-infra

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

promote morgo to reviewer
  special-interest-groups/sig-sql-infra/membership.json
Labels: sig/sql-infra
