Repository pingcap/community, pull requests merged in 2019-11, with the labels that each got.

#69 Fix the dangling symbolic link in git hooks
  contributors/workflow.md
Labels: status/LGT2

#74 .github: add a CODEOWNER rule for the community repo
  .github/CODEOWNERS
Labels: status/LGT2

#49 workflow: proper command for pre-commit hooks
  contributors/workflow.md
Labels: status/LGT1

#71 challenge-programs: Add FAQ for the English version
  challenge-Programs/performance-challenge.md
Labels: status/LGT1

#72 wg-vec-expr.md: update the Slack channel name
  working-groups/wg-vec-expr.md
Labels: status/ReqChange

#95 working-groups: fix grammar
  working-groups/wg-sql-diagnostics.md
Labels: status/LGT1, status/LGT2

#109 proposal: run Discourse on TiDB
  rfc/2019-11-28-discourse-on-tidb.md
  rfc/README.md
Labels: IncubatingProgram/Project, status/can merge
