Repository pingcap/community, pull requests merged in 2019-12, with the labels that each got.

#107 working-groups: add member for TiDB Wasm Working Group
  working-groups/wg-wasm.md
Labels: status/LGT2

#105 working-groups: add two members and tracking issue
  working-groups/wg-dynamic-configuration-change.md
Labels: status/LGT2

#114 working-groups: add TiKV working groups
  working-groups/README.md
Labels: status/LGT1, status/LGT2

#85 special-interest-groups: add description for parser SIG
  special-interest-groups/README.md
  special-interest-groups/sig-parser/README.md
  special-interest-groups/sig-parser/member-list.md
  special-interest-groups/sig-parser/roles-and-organization-management.md
Labels: status/LGT2

#127 SIG: correct committer criteria
  special-interest-groups/sig-expr/roles-and-organization-management.md
Labels: status/LGT2

#73 working-groups: add description for `wg-stmt-summary`
  working-groups/README.md
  working-groups/wg-stmt-summary.md
Labels: status/LGT1, type/enhancement

#135 working-groups: add test infra working group
  working-groups/README.md
  working-groups/wg-test-infra.md
Labels: status/ReqChange

#118 *: add working group governance and template
  governance/wg-governance.md
  media/wg-sig.png
  working-groups/README.md
  working-groups/wg-template.md
Labels: status/LGT2

#111 rfc: Official recommended topologies and configurations to use TiDB
  rfc/2019-11-30-recommand-tidb-configure.md
  rfc/README.md
Labels: status/LGT2

#133 working-groups: add dm-portal working group
  working-groups/README.md
  working-groups/wg-dm-portal.md
Labels: status/LGT2

#115 wg: run discourse on tidb
  working-groups/README.md
  working-groups/wg-run-discourse-on-tidb.md
Labels: status/LGT2

#120 rfc: fix rfc link of "Run Discourse on TiDB"
  rfc/README.md
Labels: status/LGT2

#103 README.md: add TiDB Community Architecture link
  README.md
Labels: status/LGT2

#128 working-groups: add working group to replace loader with lightning
  working-groups/README.md
  working-groups/wg-replace-loader-with-lightning.md
Labels: status/LGT2

#137 working-groups: add dm HA working group
  working-groups/README.md
  working-groups/wg-dm-ha.md
Labels: status/LGT1, status/ReqChange

#129 proposal: Talent Plan Courses - Distributed Database System
  rfc/2019-12-9-Talent-Plan-Course-DDS.md
  rfc/README.md
Labels: IncubatingProgram/Project

#138 .gitignore: add ".idea"
  .gitignore
Labels: status/LGT2

#143 working-groups: Add raw kv backup & restore wg
  working-groups/README.md
  working-groups/wg-raw-kv-backup-restore.md
Labels: status/ReqChange

#132 working-groups: add pitr working group
  working-groups/README.md
  working-groups/wg-pitr.md
Labels: status/LGT2, status/can merge

#100 incubator: add description for "PingCAP Incubator Program"
  README.md
  incubator/README.md
  incubator/intermi-report-template.md
  incubator/mentor-charter.md
  incubator/projects-approval-criteria.md
Labels: status/LGT2

#136 rfc: add rfc docs about adding pulsar to tidb-binlog
  rfc/2019-12-10-add-pulsar-to-binlog.md
Labels: status/ReqChange

#134 working-groups: add "TiDB Distributions" working group
  working-groups/README.md
  working-groups/wg-tidb-distributions.md
Labels: status/ReqChange

#131 working-groups: add online restore working group
  working-groups/README.md
  working-groups/wg-online-restore.md
Labels: status/ReqChange

#145 governance: reframe the working group governance
  governance/wg-governance.md
Labels: status/LGT1

#154 architecture: add PMC and Maintainer lists
  architecture/maintainer-list.md
  architecture/pmc-list.md
Labels: status/LGT1, status/LGT2

#125 rfc: Fuzz and Auto Debug Tool
  rfc/2019-12-07-fuzz-and-auto-debug.md
Labels: status/LGT2

#153 working-groups: add talent plan courses working group
  working-groups/README.md
  working-groups/wg-talent-plan-courses.md
Labels: status/LGT2

#113 GOVERNANCE.md: add community governance
  GOVERNANCE.md
Labels: status/LGT1
