Repository pingcap/community, pull requests merged in 2020-01, with the labels that each got.

#155 media: update architecture.svg, add contributor to SIGs
  media/architecture.svg
Labels: status/LGT1

#152 architecture: update membership and roles description
  architecture/README.md
Labels: status/ReqChange

#158 incubator: fix typo
  incubator/README.md
Labels: status/LGT2

#140 rfc: add RFC for Talent Plan Course
  media/rfc-talent-plan-courses.png
  rfc/2019-12-11-Talent-Plan-Courses.md
  rfc/README.md
Labels: status/LGT2

#123 rfc: add dumpling, a data exporting tool
  rfc/2019-12-06-dumpling.md
Labels: status/LGT1
