Repository pingcap/community, pull requests merged in 2020-12, with the labels that each got.

#348 Promote coocoood and jackysp as committer for ddl sig
  special-interest-groups/sig-ddl/membership.json
Labels: status/LGT2, status/can-merge

#356 promote mikechengwei as committer of tidb-operator
  special-interest-groups/sig-k8s/membership.json
Labels: sig/k8s, status/LGT2, status/can-merge

#358 Promote xiongjiwei as the committer for DDL sig
  special-interest-groups/sig-ddl/membership.json
Labels: sig/ddl, status/LGT2, status/can-merge

#359 Migrate to json for sig-web membership
  special-interest-groups/sig-web/README.md
  special-interest-groups/sig-web/membership.json
  special-interest-groups/sig-web/membership.md
Labels: sig/web, status/LGT1, status/can-merge

#360 Update a Figma link
  contributors/figma-quick-start-guide.md
Labels: status/LGT2, status/can-merge

#357 sig-ddl: promote 'blacktear23' to active contributor
  special-interest-groups/sig-ddl/membership.json
Labels: sig/ddl, status/LGT2, status/can-merge

#361 Add @morgo to the 'active contributor' list of sig-DDL.
  special-interest-groups/sig-ddl/membership.json
Labels: sig/ddl, status/LGT2, status/can-merge

#362 Propose @wjhuang2016 as committer of sig-exec
  special-interest-groups/sig-exec/membership.json
Labels: sig/execution, status/LGT2, status/can-merge

#363 promote new reviewers for sig-k8s
  special-interest-groups/sig-k8s/membership.json
Labels: sig/k8s, status/LGT2, status/can-merge

#365 sig-docs: update membership
  special-interest-groups/sig-docs/membership.json
Labels: sig/docs, status/LGT1, status/can-merge

#364 promote @xiongjiwei as active-contributor
  special-interest-groups/sig-exec/membership.json
Labels: sig/execution, status/LGT1, status/can-merge

#367 Migrate to json for sig-planner membership
  special-interest-groups/sig-planner/README.md
  special-interest-groups/sig-planner/membership.json
  special-interest-groups/sig-planner/membership.md
Labels: sig/planner, status/LGT1, status/can-merge

#368 Migrate to json for sig-migrate membership
  special-interest-groups/sig-migrate/README.md
  special-interest-groups/sig-migrate/membership.json
  special-interest-groups/sig-migrate/membership.md
  special-interest-groups/sig-migrate/roles-and-organization-management.md
Labels: sig/migrate, status/LGT1, status/can-merge

#369 Update docs sig info
  special-interest-groups/sig-docs/README.md
  special-interest-groups/sig-docs/docs-sig-logo.png
Labels: sig/docs, status/LGT2, status/can-merge

#374 sig: Add community-infra sig and submit relevant information
  .github/labeler.yml
  special-interest-groups/README.md
  special-interest-groups/sig-community-infra/README.md
  special-interest-groups/sig-community-infra/membership.json
  special-interest-groups/sig-community-infra/roles-and-organization-management.md
Labels: status/LGT2, status/can-merge

#373 sig-planner: add reviewers
  special-interest-groups/sig-planner/membership.json
Labels: sig/planner, status/LGT2, status/can-merge

#375 Refactor incubator program
  incubator/README.md
  incubator/intermi-report-template.md
  incubator/mentor-charter.md
Labels: component/governance, status/LGT2, status/can-merge

#370 Rename sig-ddl to sig-sql-infra
  .github/labeler.yml
  special-interest-groups/README.md
  special-interest-groups/sig-ddl/README.md
  special-interest-groups/sig-sql-infra/README.md
  special-interest-groups/sig-sql-infra/membership.json
  special-interest-groups/sig-sql-infra/roles-and-organization-management.md
Labels: do-not-merge/hold, sig/ddl, status/LGT2

#371 sig-migrate: add learning materials and link to issues
  special-interest-groups/sig-migrate/README.md
Labels: sig/migrate, status/LGT2, status/can-merge

#376 sig-docs: promote CharLotteiu to committer; promote Joyinqin to reviewer
  special-interest-groups/sig-docs/membership.json
Labels: sig/docs, status/LGT2, status/can-merge

#379 sig-docs: promote 3 active contributors
  special-interest-groups/sig-docs/membership.json
Labels: sig/docs, status/LGT1, status/can-merge
