Repository pingcap/community, pull requests merged in 2020-07, with the labels that each got.

#261 Update Docs SIG readme and member list
  special-interest-groups/sig-docs/README.md
  special-interest-groups/sig-docs/member-list.md
Labels: component/SIG

#250 contributors: add a tip of markdown syntax of checklist
  contributors/commit-message-pr-style.md
Labels: component/contributors, status/require-change, type/enhancement

#268 SIG-ecec: update the member list
  special-interest-groups/sig-exec/member-list.md
Labels: status/can-merge

#265 sig-tools: update member list (2020-07-23)
  special-interest-groups/sig-tools/member-list.md
Labels: component/SIG, status/LGT2

#269 Nominate liuzix to be a reviewer in sig-tools
  special-interest-groups/sig-tools/member-list.md
Labels: status/LGT2
