Repository pingcap/community, pull requests merged in 2020-11, with the labels that each got.

#335 Migrate to json for sig-ddl membership
  special-interest-groups/sig-ddl/membership.json
  special-interest-groups/sig-ddl/membership.md
Labels: status/LGT1, status/can-merge

#339 Migrate to json for sig-docs membership
  special-interest-groups/sig-docs/membership.json
  special-interest-groups/sig-docs/membership.md
Labels: status/LGT1

#344 update members for sig-k8s
  special-interest-groups/sig-k8s/membership.json
Labels: status/LGT1, status/can-merge

#346 Migrate to json for sig-tiup membership
  special-interest-groups/sig-tiup/README.md
  special-interest-groups/sig-tiup/membership.json
  special-interest-groups/sig-tiup/membership.md
Labels: status/LGT1

#350 upload become a committer and fix broken links
  architecture/committer-list.md
  become-a-committer.md
Labels: status/LGT1

#336 sig-docs: promote breeswish to committer
  special-interest-groups/sig-docs/membership.json
Labels: status/LGT1

#352 sig-docs: promote Charlotteiu to reviewer
  special-interest-groups/sig-docs/membership.json
Labels: status/LGT2, status/can-merge

#351 Promote 9547 as a reviewer of TiUP
  special-interest-groups/sig-tiup/membership.json
Labels: status/LGT2, status/can-merge

#349 ci: add labeler
  .github/labeler.yml
  .github/workflows/ labeler.yml
Labels: status/LGT1

#354 Migrate to json for sig-execution membership
  special-interest-groups/sig-exec/README.md
  special-interest-groups/sig-exec/membership.json
  special-interest-groups/sig-exec/membership.md
Labels: sig/execution, status/LGT1, status/can-merge

#355 Propose @Yisaer as committer of sig-exec
  special-interest-groups/sig-exec/membership.json
Labels: sig/execution, status/LGT2, status/can-merge
