Repository pingcap/community, pull requests merged in 2020-03, with the labels that each got.

#171 challenge-program: update `README.md`
  challenge-programs/README.md
Labels: component/challenge-program, status/LGT1

#172 .github: update issue template for incubating program
  .github/ISSUE_TEMPLATE/incubating-program.md
  .github/ISSUE_TEMPLATE/incubating-request-feature.md
  .github/ISSUE_TEMPLATE/incubating-request-project.md
Labels: status/LGT2

#96 SIG: initial commit for planner sig
  special-interest-groups/README.md
  special-interest-groups/sig-planner/README.md
  special-interest-groups/sig-planner/member-list.md
  special-interest-groups/sig-planner/roles-and-organization-management.md
Labels: component/SIG, status/LGT1

#175 challenge-programs: add description for UCP season 2
  challenge-programs/challenge-program-season-2.md
Labels: component/challenge-program, status/require-change

#173 challenge-programs: Update `README.md`
  challenge-programs/README.md
Labels: component/challenge-program, status/LGT1

#177 challenge-programs: fix some formatting
  challenge-programs/challenge-program-season-2.md
Labels: component/challenge-program, status/LGT1

#176 challenge-programs: add cherry-bot project
  challenge-programs/README-CN.md
  challenge-programs/challenge-program-season-2-cn.md
Labels: component/challenge-program, status/LGT2

#166 SIG: add tools sig
  special-interest-groups/README.md
  special-interest-groups/sig-tools/README.md
  special-interest-groups/sig-tools/member-list.md
  special-interest-groups/sig-tools/roles-and-organization-management.md
Labels: component/SIG, status/LGT2

#162 SIG: add description for k8s SIG
  special-interest-groups/README.md
  special-interest-groups/sig-k8s/README.md
  special-interest-groups/sig-k8s/member-list.md
  special-interest-groups/sig-k8s/roles-and-organization-management.md
Labels: component/SIG, status/WIP

#180 SIG: remove co-leads
  special-interest-groups/sig-ddl/member-list.md
  special-interest-groups/sig-exec/member-list.md
  special-interest-groups/sig-planner/member-list.md
Labels: component/SIG, status/LGT2

#181 challenge program: unify projects
  challenge-programs/README-CN.md
  challenge-programs/README.md
  challenge-programs/challenge-program-season-2-cn.md
  challenge-programs/challenge-program-season-2.md
Labels: component/challenge-program, status/LGT1

#183 sig: make SIG list more clear
  special-interest-groups/README.md
Labels: component/SIG, status/LGT2

#186 challenge-programs: add tidb-operator challenge program s2 project
  challenge-programs/README-CN.md
  challenge-programs/README.md
  challenge-programs/challenge-program-season-2-cn.md
  challenge-programs/challenge-program-season-2.md
Labels: component/challenge-program, status/LGT1

#184 *: improve some links
  README.md
  communicating.md
Labels: status/LGT1, type/enhancement

#188 update readme for season 2
  challenge-programs/challenge-program-season-2.md
Labels: component/challenge-program, status/LGT1

#190 contributors, media: add Figma Quick Start Guide
  contributors/README.md
  contributors/figma-quick-start-guide.md
  media/figma-guide/back-to-files.png
  media/figma-guide/copy-objects.png
  media/figma-guide/corner-radius.png
  media/figma-guide/duplicate.png
  media/figma-guide/export-frame-x.png
  media/figma-guide/export.png
  media/figma-guide/eyedropper.png
  media/figma-guide/figma-test.png
  media/figma-guide/figure-format.png
  media/figma-guide/fill.png
  media/figma-guide/frame.png
  media/figma-guide/magnifier-window.png
  media/figma-guide/new-frame.png
  media/figma-guide/recently-viewed.png
  media/figma-guide/rename.png
  media/figma-guide/sign-up.png
  media/figma-guide/tidb-sketch-book-copy.png
  media/figma-guide/tidb-sketch-book.png
Labels: status/LGT1
