Repository pingcap/community, pull requests merged in 2021-04, with the labels that each got.

#426 promote zimulala to sig/exec committer
  special-interest-groups/sig-exec/membership.json
Labels: status/LGT1, status/can-merge

#429 Add slack & mailing-list
  README.md
Labels: status/LGT1, status/can-merge

#433 membership: add qiancai as docs's active contributor
  special-interest-groups/sig-docs/membership.json
Labels: status/LGT1, status/can-merge

#434 membership: add Tjianke as exec's reviewer
  special-interest-groups/sig-exec/membership.json
Labels: status/LGT1, status/can-merge

#430 fix: refine broken links
  special-interest-groups/sig-community-infra/README.md
  special-interest-groups/sig-diagnosis/README.md
  special-interest-groups/sig-docs/README.md
  special-interest-groups/sig-exec/README.md
  special-interest-groups/sig-k8s/README.md
  special-interest-groups/sig-migrate/README.md
  special-interest-groups/sig-planner/README.md
  special-interest-groups/sig-sql-infra/README.md
  special-interest-groups/sig-tiup/README.md
  special-interest-groups/sig-web/README.md
Labels: sig/community-infra, sig/diagnosis, sig/docs, sig/execution, sig/k8s, sig/migrate, sig/planner, sig/sql-infra, sig/tiup, sig/web, status/LGT1, status/can-merge

#436 Promote csuzhangxc to committer
  special-interest-groups/sig-k8s/membership.json
Labels: status/LGT1, status/can-merge

#439 planner: promote member and update links
  special-interest-groups/sig-planner/README.md
  special-interest-groups/sig-planner/membership.json
Labels: sig/community-infra, sig/planner, status/LGT1, status/can-merge

#438 sig/planner: nominate rebelice as a committer of sig/planner
  special-interest-groups/sig-planner/membership.json
Labels: status/LGT1, status/can-merge

#441 membership: add TszKitLo40 as exec's reviewer
  special-interest-groups/sig-exec/membership.json
Labels: status/LGT1, status/can-merge

#442 membership: add qiancai as docs's reviewer
  special-interest-groups/sig-docs/membership.json
Labels: status/LGT1, status/can-merge

#443 fix: refine broken links
  special-interest-groups/sig-community-infra/README.md
  special-interest-groups/sig-diagnosis/README.md
  special-interest-groups/sig-docs/README.md
  special-interest-groups/sig-exec/README.md
  special-interest-groups/sig-k8s/README.md
  special-interest-groups/sig-migrate/README.md
  special-interest-groups/sig-planner/README.md
  special-interest-groups/sig-sql-infra/README.md
  special-interest-groups/sig-tiup/README.md
  special-interest-groups/sig-web/README.md
Labels: sig/community-infra, sig/diagnosis, sig/docs, sig/execution, sig/k8s, sig/migrate, sig/planner, sig/sql-infra, sig/tiup, sig/web, status/LGT1, status/can-merge

#444 Fixed the broken links to Roles and Organization Management for SIGs
  special-interest-groups/sig-bigdata/README.md
  special-interest-groups/sig-community-infra/README.md
  special-interest-groups/sig-diagnosis/README.md
  special-interest-groups/sig-docs/README.md
  special-interest-groups/sig-exec/README.md
  special-interest-groups/sig-k8s/README.md
  special-interest-groups/sig-migrate/README.md
  special-interest-groups/sig-planner/README.md
  special-interest-groups/sig-tiup/README.md
  special-interest-groups/sig-web/README.md
Labels: sig/community-infra, sig/diagnosis, sig/docs, sig/execution, sig/k8s, sig/migrate, sig/planner, sig/tiup, sig/web, status/LGT1, status/can-merge
