Repository pingcap/community, pull requests merged in 2021-09, with the labels that each got.

#539 *: cleanup working group
  archive/governance/README.md
  archive/governance/special-interest-groups/sig-exec/README.md
  archive/governance/special-interest-groups/sig-k8s/roles-and-organization-management.md
  archive/governance/special-interest-groups/sig-migrate/roles-and-organization-management.md
  archive/governance/special-interest-groups/sig-postgresql/roles-and-organization-management.md
  archive/governance/special-interest-groups/sig-sql-infra/README.md
  archive/governance/special-interest-groups/sig-template/roles-and-organization-management.md
  archive/governance/special-interest-groups/sig-tiup/README.md
  archive/governance/working-groups/README.md
  archive/governance/working-groups/wg-dm-ha.md
  archive/governance/working-groups/wg-dm-portal.md
  archive/governance/working-groups/wg-dm-syncer.md
  archive/governance/working-groups/wg-drainer-relay-log.md
  archive/governance/working-groups/wg-dumpling.md
  archive/governance/working-groups/wg-dynamic-configuration-change.md
  archive/governance/working-groups/wg-governance.md
  archive/governance/working-groups/wg-key-visualizer.md
  archive/governance/working-groups/wg-online-restore.md
  archive/governance/working-groups/wg-pitr.md
  archive/governance/working-groups/wg-raw-kv-backup-restore.md
  archive/governance/working-groups/wg-replace-loader-with-lightning.md
  archive/governance/working-groups/wg-sql-diagnostics.md
  archive/governance/working-groups/wg-stmt-summary.md
  archive/governance/working-groups/wg-talent-plan-courses.md
  archive/governance/working-groups/wg-template.md
  archive/governance/working-groups/wg-test-infra.md
  archive/governance/working-groups/wg-tidb-distributions.md
  archive/governance/working-groups/wg-tidb-sequence.md
  archive/governance/working-groups/wg-tracing.md
  archive/governance/working-groups/wg-vec-expr.md
  archive/governance/working-groups/wg-wasm.md
  working-groups/README.md
Labels: status/LGT1, status/can-merge

#541 *: merge voting content
  toc/README.md
  toc/proposal/README.md
  toc/proposal/TEMPLATE.md
  votes/0522-sig-merge.md
  votes/0541-drop-toc-non-voting-member-concept.md
  votes/TEMPLATE.md
Labels: status/LGT1, status/can-merge

#545 teams/tidb: Add a readable TiDB maintainer table
  teams/tidb/README.md
Labels: status/LGT1

#548 teams/tidb: recorrect the maintainer's names
  teams/tidb/README.md
Labels: status/LGT1

#544 Add sig-transaction's reviewers
  teams/tidb/membership.json
  votes/0544-sig-txn-reviewer-to-tidb.md
Labels: status/LGT1, status/can-merge

#546 *: a vote for tisonkun as TiDB reviewer
  teams/tidb/membership.json
  votes/0546-tisonkun-as-tidb-reviewer.md
Labels: status/LGT1

#551 README.md: delete tidb-roadmap in README.md
  README.md
Labels: status/LGT1, status/can-merge

#547 *: a vote for AndrewDi as the committer
  teams/tidb/membership.json
  votes/0547-andrewdi-as-tidb-reviewer.md
Labels: status/LGT1

#550 teams/tidb: a vote for sylzd as the reviewer
  teams/tidb/membership.json
  votes/0550-sylzd-as-tidb-reviewer.md
Labels: status/LGT1

#553 README: update governance architecture graph
  README.md
  media/developer-group.jpeg
  media/user-group.jpeg
Labels: status/LGT1, status/can-merge

#554 Rename 0547-andrewdi-as-tidb-reviewer.md to 0547-andrewdi-as-tidb-com…
  votes/0547-andrewdi-as-tidb-committer.md
Labels: status/LGT1, status/can-merge

#555 teams/migration: vote for okJiang as migration reviewer
  teams/migration/membership.json
  votes/0555-okJiang-as-migration-reviewer.md
Labels: status/LGT1, status/can-merge

#556 Revert "teams/migration: vote for okJiang as migration reviewer"
  teams/migration/membership.json
  votes/0555-okJiang-as-migration-reviewer.md
Labels: status/LGT1, status/can-merge

#557 teams/tidb: a vote for dveeden as the reviewer
  teams/tidb/membership.json
  votes/0557-dveeden-as-tidb-reviewer.md
Labels: status/LGT1, status/can-merge

#559 Revert "teams/tidb: a vote for dveeden as the reviewer"
  teams/tidb/membership.json
  votes/0557-dveeden-as-tidb-reviewer.md
Labels: status/LGT1, status/can-merge

#558 teams/migration: vote for okJiang as migration reviewer
  0558-okJiang-as-migration-reviewer.md
  teams/migration/membership.json
Labels: status/LGT1, status/can-merge

#562 move the vote record file to correct folder
  votes/0558-okJiang-as-migration-reviewer.md
Labels: status/LGT1, status/can-merge

#561 teams/tidb: a vote for dveeden as the reviewer(again)
  teams/tidb/membership.json
  votes/0561-dveeden-as-tidb-reviewer.md
Labels: status/LGT4

#566 teams: explicitly emphasize maintainers nominate new members
  teams/README.md
Labels: status/LGT1, status/can-merge
