Repository pingcap/community, pull requests merged in 2021-11, with the labels that each got.

#590 teams/docs: add docs team management
  teams/docs/README.md
  teams/docs/docs-team-management.md
Labels: status/LGT1

#591 teams/docs: update team management
  teams/docs/README.md
  teams/docs/docs-team-management.md
Labels: status/LGT1

#586 add description and repos to membership.md
  teams/bigdata/README.md
  teams/bigdata/membership.json
  teams/diagnostic/README.md
  teams/diagnostic/membership.json
  teams/docs/README.md
  teams/docs/membership.json
  teams/kubernetes/README.md
  teams/kubernetes/membership.json
  teams/migration/README.md
  teams/migration/membership.json
  teams/postgresql/README.md
  teams/postgresql/membership.json
  teams/tidb/membership.json
  teams/tiup/membership.json
Labels: status/LGT1, status/can-merge

#593 teams/docs: a vote for hfxsd as the reviewer
  teams/docs/membership.json
  votes/0593-hfxsd-as-docs-reviewer.md
Labels: status/LGT1, status/can-merge

#589 *: a vote for time-and-fate as the TiDB committer
  teams/tidb/membership.json
  votes/0589-time-and-fate-as-tidb-commiter.md
Labels: status/LGT1

#595 votes: update the result of #589
  votes/0589-time-and-fate-as-tidb-commiter.md
Labels: status/LGT1, status/can-merge

#592 teams/tidb: a vote for tisonkun as the committer
  teams/tidb/membership.json
  votes/0592-tisonkun-as-tidb-commiter.md
Labels: status/LGT1, status/can-merge, do-not-merge/hold

#598 teams/kubernetes: a vote for KanShiori as the committer
  teams/kubernetes/membership.json
  votes/0598-KanShiori-as-kubernetes-committer.md
Labels: status/LGT1

#588 teams/tidb: a vote for aytrack as the reviewer
  votes/0588-aytrack-as-tidb-reviewer.md
Labels: status/LGT1, status/can-merge

#587 teams/tidb: a vote for ChenPeng2013 as the reviewer
  votes/0587-ChenPeng2013-as-tidb-reviewer.md
Labels: status/LGT1, status/can-merge

#603 teams/docs: a vote for en-jin19 as the reviewer
  teams/docs/membership.json
  votes/0603-en-jin19-as-docs-reviewer.md
Labels: status/LGT1, status/can-merge

#605 teams/docs: a vote for shichun-0415 as the reviewer
  teams/docs/membership.json
  votes/0604-shichun-0415-as-docs-reviewer.md
Labels: status/LGT1, status/can-merge
