Repository pingcap/community, pull requests merged in 2021-02, with the labels that each got.

#402 github: add membership issue template
  .github/ISSUE_TEMPLATE/sig-promotion.md
Labels: status/LGT2, status/can-merge

#403 github: update labeler
  .github/labeler.yml
Labels: status/LGT1, status/can-merge

#405 github: add role to promotion template
  .github/ISSUE_TEMPLATE/sig-promotion.md
Labels: status/LGT1, status/can-merge

#407 membership: add dragonly as docs's committer
  special-interest-groups/sig-docs/membership.json
Labels: status/LGT1, status/can-merge

#401 update archived working groups
  working-groups/README.md
Labels: status/LGT1
