Repository pingcap/community, pull requests merged in 2021-01, with the labels that each got.

#372 Promote liuzix to committer
  special-interest-groups/sig-migrate/membership.json
Labels: sig/migrate, status/LGT2

#377 SunRunAway retires from leader of sig-exec
  special-interest-groups/sig-exec/membership.json
Labels: sig/execution, status/LGT2, status/can-merge

#378 Add Wallace to committers
  special-interest-groups/sig-migrate/membership.json
Labels: sig/migrate, status/LGT2, status/can-merge

#383 Promote 9547 as a committer of TiUP
  special-interest-groups/sig-tiup/membership.json
Labels: sig/tiup, status/LGT2, status/can-merge

#385 Update README.md
  incubator/README.md
Labels: do-not-merge/hold, status/LGT2, status/can-merge

#388 Update README.md
  incubator/README.md
Labels: status/LGT1

#387 Update projects-approval-criteria.md
  incubator/projects-approval-criteria.md
Labels: status/LGT2

#386 promote cvvz to reviewer
  special-interest-groups/sig-k8s/membership.json
Labels: sig/k8s, status/LGT2, status/can-merge

#381 Use TOC instead of PMC
  governance/sig-governance.md
Labels: status/LGT2, status/can-merge

#390 add sig-bigdata
  special-interest-groups/sig-bigdata/README.md
  special-interest-groups/sig-bigdata/membership.json
  special-interest-groups/sig-bigdata/roles-and-organization-management.md
Labels: status/LGT1

#391 add sig-bigdata slack link
  special-interest-groups/sig-bigdata/README.md
Labels: status/LGT2, status/can-merge

#393 Update README.md
  special-interest-groups/README.md
Labels: status/LGT2, status/can-merge

#392 fix sig bigdata slack link
  special-interest-groups/sig-bigdata/README.md
Labels: status/LGT2, status/can-merge

#399 Update membership for sig-diagnosis
  special-interest-groups/sig-diagnosis/membership.json
Labels: sig/diagnosis, status/LGT2, status/can-merge

#396 README: update links
  README.md
Labels: sig/docs, status/LGT2, status/can-merge

#397 README: update links
  special-interest-groups/sig-sql-infra/README.md
Labels: sig/sql-infra, status/LGT2, status/can-merge

#398 promote morgo to committer
  special-interest-groups/sig-sql-infra/membership.json
Labels: sig/sql-infra, status/LGT2, status/can-merge

#400 sig-docs: update membership
  special-interest-groups/sig-docs/membership.json
Labels: sig/docs, status/LGT2, status/can-merge
