Repository pingcap/community, pull requests merged in 2022-11, with the labels that each got.

#722 team/tidb: a vote for fzzf678 as the reviewer
  teams/tidb/membership.json
  votes/1103-fzzf678-as-tidb-reviewer.md
Labels: status/LGT1, do-not-merge/hold

#723 team/tidb: a vote for mengxin9014 as the reviewer
  teams/tidb/membership.json
  votes/0723-mengxin9014-as-tidb-reviewer.md
Labels: status/LGT2

#724 teams/migration: a vote for zhaoxinyu as the committer
  teams/migration/membership.json
  votes/0724-zhaoxinyu-as-migration-comitter.md
Labels: status/LGT1

#726 teams/tidb: a vote for Benjamin2037 as TiDB committer
  votes/1117-Benjamin2037-as-tidb-committer.md
Labels: status/LGT1

#728 teams/tidb: a vote for BornChanger as TiDB reviewer
  teams/tidb/membership.json
  votes/0728-BornChanger-as-tidb-reviewer.md
Labels: status/LGT1, do-not-merge/hold

#730 Proposal of a promotion of ekexium and you06 to committers
  teams/tidb/membership.json
  votes/0730-ekexium-and-you06-as-tidb-committer.md
Labels: status/LGT1
