Repository pingcap/community, pull requests merged in 2022-09, with the labels that each got.

#708 fix license link
  README.md
Labels: status/LGT1, status/can-merge

#709 teams/bigdata: a vote for qidi1 as bigdata reviewer
  teams/bigdata/membership.json
  votes/0704-qidi1-as-bigdata-reviewer.md
Labels: status/LGT1

#712 [add]add hackathon 2022
  events/hackathon2022/guide.md
  events/hackathon2022/rfc-template.md
Labels: status/LGT1, status/can-merge

#713 teams/tidb: a vote for Benjamin2037 as TiDB reviewer
  teams/tidb/membership.json
  votes/0713-Benjamin2037-as-tidb-reviewer.md
Labels: status/LGT1, do-not-merge/hold

#714 teams/docs: a vote for Icemap as the reviewer
  teams/docs/membership.json
  votes/0714-Icemap-as-docs-reviewer.md
Labels: status/LGT1, do-not-merge/hold
