Repository pingcap/community, pull requests merged in 2022-07, with the labels that each got.

#694 teams/migration: a vote for maxshuang as the committer
  teams/migration/membership.json
  votes/0694-maxshuang-as-migration-comitter.md
Labels: status/LGT1, status/can-merge

#695 teams/migration: a vote for niubell as the committer
  teams/migration/membership.json
  votes/0695-niubell-as-migration-committer.md
Labels: status/LGT1, status/can-merge

#698 teams/tidb: a vote for SeaRise as a reviewer
  teams/tidb/membership.json
  votes/0698-searise-as-tidb-reviewer.md
Labels: status/LGT1, status/can-merge

#696 A Vote for zhangyangyu as BigData reviewer
  votes/0677-zhangyangyu-reviewer.md
Labels: status/LGT1, do-not-merge/hold

#697 teams/tiflash: a vote for hongyunyan as a committer
  teams/tiflash/membership.json
  votes/697-hongyunyan-as-tiflash-committer.md
Labels: status/LGT1, status/can-merge

#699 teams/migration: a vote for dsdashun as the committer
  teams/migration/membership.json
  votes/0699-dsdashun-as-migration-committer.md
Labels: status/LGT1, status/can-merge

#701 team/tidb: a vote for xuyifangreeneyes as the commiter
  teams/tidb/membership.json
  votes/0701-xuyifangreeneyes-as-tidb-commiter.md
Labels: status/LGT1

#700 team/tidb: a vote for fixdb as the reviewer
  teams/tidb/membership.json
  votes/0697-hongyunyan-as-tiflash-committer.md
  votes/0700-fixdb-as-tidb-reviewer.md
Labels: status/LGT1

#703 team/tidb: a vote for zyguan as the committer
  teams/tidb/membership.json
  votes/0703-zyguan-as-tidb-committer.md
Labels: status/LGT1, status/can-merge
