Repository pingcap/community, pull requests merged in 2023-06, with the labels that each got.

#762 team/tidb: a vote for elsa0520 as TiDB reviewer
  teams/tidb/membership.json
  votes/0762-elsa0520-as-tidb-reviewer.md
Labels: do-not-merge/hold, size/S, lgtm

#761 teams/tidb: a vote for D3Hunter as TiDB commiter
  teams/tidb/membership.json
  votes/votes/0761-D3Hunter-as-tidb-committer.md
Labels: size/S

#764 fix wrong group in #761
  teams/tidb/membership.json
Labels: size/XS

#763 vote ywqzzy as TiDB reviewer
  teams/tidb/membership.json
  votes/0763-ywqzzy-as-tidb-reviewer.md
Labels: size/S, lgtm
