Repository pingcap/community, pull requests merged in 2024-12, with the labels that each got.

#795 Update README.md to add the Discord link
  contributors/README.md
Labels: size/XS, lgtm, approved

#796 Add emeritus approvers to docs
  teams/docs/docs-team-management.md
  teams/docs/membership.json
Labels: size/M, lgtm, approved

#793 Update README.md
  learning-resources/README.md
Labels: size/S

#800 teams/ticdc: add teams/ticdc folder for managing TiCDC community
  teams/ticdc/OWNERS
  teams/ticdc/README.md
  teams/ticdc/membership.json
Labels: size/M, lgtm, approved

#798 A Vote for wlwilliamx as Migration Committer
  teams/migration/membership.json
  votes/0792-wlwilliamx-as-migration-committer.md
Labels: size/M, lgtm
